## begin ionadmin
# --------------------------------------------
# INITIALIZE
# ion node number : 2
# ionconfig file name : n2.ionconfig
# --------------------------------------------
1 2 'n2.ionconfig'
 
# --------------------------------------------
# START
# --------------------------------------------
# Program: rfxclock 
# -------------------------------------------- 
s
 
# CONTACT_REL_REL_TIME
# --------------------------------------------
# relative start time: When the specified contact starts to exist (secs)
# relative stop time : When the specified contact ends (secs)
# source node
# destination node 
# transmission data rate :  in bytes per sec
# contact confidence : as fraction [optional]
# e.g. a contact [REL_START_TIME] [REL_STOP_TIME] [SOURCE] [DEST] [RATE]
# or   a contact [REL_START_TIME] [REL_STOP_TIME] [SOURCE] [DEST] [RATE] [CONFIDENCE]
# --------------------------------------------  
a contact +1 +3600 1 1 100000
a contact +1 +3600 1 2 100000
a contact +1 +3600 2 1 100000
a contact +1 +3600 2 2 100000
a contact +1 +3600 2 3 100000
a contact +1 +3600 3 3 100000
a contact +1 +3600 3 2 100000
 
# RANGE_REL_REL_TIME
# -------------------------------------------
# relative start time : When the specified range starts to exist (secs)
# relative stop time : When the specified range ceases to exist (secs)
# one node 
# other node 
# transmission distance : in light secs
# e.g a range [REL_START_TIME] [REL_STOP_TIME] [NODE1] [NODE2] [DISTANCE]
# -------------------------------------------  
a range +1 +3600 1 1 1
a range +1 +3600 1 2 1
a range +1 +3600 2 1 1
a range +1 +3600 2 2 1
a range +1 +3600 2 3 1
a range +1 +3600 3 3 1
a range +1 +3600 3 2 1
 
m production 1000000
m consumption 1000000
## end ionadmin
 
## begin ionsecadmin
1
## end ionsecadmin
 
## begin ltpadmin
# -------------------------------------------
# INITIALIZATION
# -------------------------------------------
# Establishes the LTP retransmission window.
# A maximum of 64 sessions. 1 session ~ 1 second of transmission
# Set a block size limit of 1000000 bytes. (approx. data sent per session)
# 1 [MAX_SESSIONS] [MAX_BLOCK_SIZE]
# -------------------------------------------
1 100 100000
 
# -------------------------------------------
# Add a span (a connection)
#    peer_engine_nbr
#    max_export_sessions
#    max_import_sessions
#    max_segment_size
#    aggregation_size_limit
#    aggregation_time_limit
#    LSO_command
#    [queing_latency]
# e.g. a span <PEER_NUM> 100 100 64000 100000 1 'udplso x.x.x.x:1113 40000000'
# ------------------------------------------- 
a span 1 32 32 1400 10000 1 'udplso 10.0.0.1:1113' 300
a span 2 32 32 1400 10000 1 'udplso 10.0.0.2:1113' 300
a span 2 32 32 1400 10000 1 'udplso 10.0.1.1:1113' 300
a span 3 32 32 1400 10000 1 'udplso 10.0.1.2:1113' 300

# --------------------------------------------
# LISTENERS
#---------------------------------------------
s 'udplsi 0.0.0.0:1113'

# --------------------------------------------
# TOGGLING WATCH CHARACTERS 1 = on; 0 = off 
# --------------------------------------------
w 1
## end ltpadmin
 
## begin bpadmin
# --------------------------------------------
# INITIALIZATION
# --------------------------------------------
1

# --------------------------------------------
# ADDING EID SCHEME
# --------------------------------------------
a scheme ipn 'ipnfw' 'ipnadminep'
 
# --------------------------------------------
# ADDING ENDPOINTS
# -------------------------------------------- 
a endpoint ipn:2.0 x
a endpoint ipn:2.1 x
a endpoint ipn:2.2 x
a endpoint ipn:2.3 x

# --------------------------------------------
# ADDING PROTOCOL(S) FOR EXTERNAL NODES.
# --------------------------------------------
# Estimate transmission capacity assuming 1400 bytes of each frame for payload and 100 bytes for overhead.
# a protocol [tcp|udp|ltp] 1400 100000
# --------------------------------------------
a protocol ltp 1400 100 1000000

# --------------------------------------------
# ADDING INDUCTS (LISTEN)
# --------------------------------------------
# a induct [tcp|udp] 0.0.0.0:4556 [PROTOCOL]cli
# a induct ltp x ltpcli 
# --------------------------------------------  
a induct ltp 2 ltpcli

# --------------------------------------------
# ADDING OUTDUCTS
# --------------------------------------------
# a outduct [tcp|udp] DEST_IP_ADDR:DEST_IP_PORT [udpclo|""]
# a outduct ltp x ltpclo
# --------------------------------------------
a outduct ltp 1 ltpclo 3000
a outduct ltp 2 ltpclo 3000
a outduct ltp 3 ltpclo 3000

# --------------------------------------------
# TOGGLING WATCH CHARACTERS 1 = on; 0 = off 
# -------------------------------------------- 
w 1

# -------------------------------------------- 
# START EVERYTHING DECLARED ABOVE ON LOCAL NODE
# -------------------------------------------- 
s
## end bpadmin
 
## begin ipnadmin
# -------------------------------------------- 
# ADDING EGRESS PLANS TO NEIGHBOURING NODES / HOSTS
# -------------------------------------------- 
#
# a plan <node> <protocol>/<num/adress>
# a plan X ltp/X
# a plan Y [tcp|udp]/[IP_ADDR]:[PORT]
# -------------------------------------------- 
a plan 1 ltp/1
a plan 2 ltp/2
a plan 3 ltp/3
## end ipnadmin
